/node_modules



// const connectToMongo = require('./db');
// const express = require('express')
// connectToMongo();
// const app = express()
// const port = 3000
// app.get('/', (req, res) => {
//     res.send('Hello Rover')
// })
// app.listen(port, () => {
//     console.log(`Example app listening at http://localhost:${port}`)
// })




//        const i=0;
//        console.log(response.photos[0]);
//    const post = new Post ({
//         id:response.photos[i]['id'],
//         sol:response.photos[i]['sol'],
//         camera:response.photos[i]['camera'].name,
//         img_src:response.photos[i]['img_src'],
//         rover:response.photos[i]['rover'].name,


//     });
   //console.log(post)